html {
	position: relative;
	min-height: 100%;
}

body {
	/* required for navbar */
	padding-top: 5rem;
}

/* might want to generalise #about... */
#aboutHeaderOne {
	font-size: 2rem;
}

#aboutText {
	margin-top: 2rem;
	text-align: justify;
	font-size: 1rem;
	width: 75%;
	font-family: "Times new roman", serif;
}

/* BEGIN: navbar/footer stuff */

footer {
	background: #EEEEEE;
}

footer > * {
	padding-right: 1rem;
	padding-left: 1rem;
	font-size: 0.8rem;
	color: #000000;
}

footer > div > * {
	color: #000000;
}

.navbar-nav {
	margin-right: 4rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-link {
	padding: .25rem 0;
	margin-left: 2rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-item {
	border-bottom: .1rem solid transparent;
	border-top: .1rem solid transparent;
	font-size: 0.9rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-item:hover, div.navbar-collapse > div.navbar-nav > a.active {
	color: #000000;
	border-bottom-color: black;
}

.foot-link, div.navbar-collapse > div.navbar-nav > a.nav-item {
	color: #000000;
}

.foot-link {
	margin-right: 1rem;
}

/* END: navbar/footer stuff */

#image{
	height: 15rem;
	width: auto;
	margin-top: 3.5rem;
}

#bigBox{
	/*height: 25rem;*/
	width: 75%;
	/*border: 0.2rem solid;*/
}

.box{
	height: 11rem;
	width: 11rem;
	border: 0.2rem solid;
}

#indexdiv{
	margin-top: 10vh;
}

* {box-sizing: border-box;}

.wrapper {
    border: 2px;
    border-radius: 5px;
}

.wrapper > div {
    border: 2px;
    border-radius: 5px;
    padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat;
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d"
    "e e e e f f f f"
    "e e e e f f f f";
}
.image{
	max-width:100%;
	max-height:100%;
}

.item1 {
  grid-area: a;
  justify-self: end;
}
.item2 {
  grid-area: b;
  justify-self: start;
}
.item3 {
  grid-area: c;
  justify-self: end;
}
.item4 {
  grid-area: d;
  justify-self: start;
}
.item5 {
  grid-area: e;
  justify-self: end;
}
.item6 {
  grid-area: f;
  justify-self: start;
}
