html {
	position: relative;
	min-height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	/* required for navbar */
	padding-top: 3.5rem;
	/* required for footer */
	margin-bottom: 90vh;
}

main {
	margin-top: 2rem;
	padding-bottom: 3rem;
}

/* might want to generalise #about... */
#aboutHeaderOne {
	font-size: 2rem;
}

#aboutText {
	margin-top: 2rem;
	font-size: 1rem;
	width: 75%;
}

/* BEGIN: navbar/footer stuff */

.footer {
	position: absolute;
	bottom: 10;
	width: 100%;
	height: 90vh;
	border-top: .01rem solid black;
	line-height: 44.5vh; /* Vertically center the text there */
	background-color: #ffffff;
	font-size: 1rem;
}



.navbar-nav {
	margin-right: 4rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-link {
	padding: .25rem 0;
	margin-left: 2rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-item {
	border-bottom: .1rem solid transparent;
	border-top: .1rem solid transparent;
}

div.navbar-collapse > div.navbar-nav > a.nav-item:hover, div.navbar-collapse > div.navbar-nav > a.active {
	color: #000000;
	border-bottom-color: black;
}

.foot-link, div.navbar-collapse > div.navbar-nav > a.nav-item {
	color: #000000;
}

.foot-link {
	margin-right: 1rem;
}

/* END: navbar/footer stuff */

#image{
	height: 15rem;
	width: auto;
	margin-top: 3.5rem;
}

#bigBox{
	height: 25rem;
	width: 25rem;
	border: 0.2rem solid;
}

.box{
	height: 11rem;
	width: 11rem;
	border: 0.2rem solid;
}

.box>i{
	font-size: 11rem;
}

#bigBox,.box{
	border-radius: 5px;
	border-color: #011abc;
}

#indexdiv{
	margin-top: 10vh;
}


/* thanks https://stackoverflow.com/a/9314458 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
