html {
	position: relative;
	min-height: 100%;
}

body {
	/* required for navbar */
	padding-top: 5rem;
}

/* might want to generalise #about... */
#aboutHeaderOne {
	font-size: 2rem;
}

#aboutText {
	margin-top: 2rem;
	text-align: justify;
	font-size: 1rem;
	width: 75%;
	font-family: "Times new roman", serif;
}

/* BEGIN: navbar/footer stuff */

footer {
	background: #EEEEEE;
}

footer > * {
	padding-right: 1rem;
	padding-left: 1rem;
	font-size: 0.8rem;
	color: #000000;
}

footer > div > * {
	color: #000000;
}

.navbar-nav {
	margin-right: 4rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-link {
	padding: .25rem 0;
	margin-left: 2rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-item {
	border-bottom: .1rem solid transparent;
	border-top: .1rem solid transparent;
	font-size: 0.9rem;
}

div.navbar-collapse > div.navbar-nav > a.nav-item:hover, div.navbar-collapse > div.navbar-nav > a.active {
	color: #000000;
	border-bottom-color: black;
}

.foot-link, div.navbar-collapse > div.navbar-nav > a.nav-item {
	color: #000000;
}

.foot-link {
	margin-right: 1rem;
}

/* END: navbar/footer stuff */

#image{
	height: 15rem;
	width: auto;
	margin-top: 3.5rem;
}

#bigBox{
	/*height: 25rem;*/
	width: 75%;
	/*border: 0.2rem solid;*/
}

.box{
	height: 11rem;
	width: 11rem;
	border: 0.2rem solid;
}

#indexdiv{
	margin-top: 10vh;
}

* {box-sizing: border-box;}

.wrapper {
    border: 2px;
    border-radius: 5px;
}

.wrapper > div {
    border: 2px;
    border-radius: 5px;
    padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
}

.image{
	height:10rem;
}

.flex-right {
	display:flex;
	justify-content: flex-end;
}

.item1 {
  grid-row: 1/2;
  grid-column: 1/2;
	align: right;
}
.item2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.item3 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.item4 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.item5 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.item6 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.projects {
	font-size: 1rem;
}

#privacyText {
	margin-top: 2rem;
	text-align: justify;
	font-size: 1rem;
	width: 75%;
	font-family: "Times new roman", serif;
}

#privacyText2 {
	margin-left: 10rem;
	text-align: justify;
	font-size: 0.8rem;
	width: 100%;
	font-family: "Times new roman", serif;
}

#resources {
  display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:center;
}

#resources>.box1 {
	height: 26rem;
	width: 20rem;
	border: 0.05rem solid;
	border-color: #000000;
	padding:2rem;
}

.box2 {
	height: 10rem;
	width: 10rem;
	border: 0.2rem solid;
	border-color: #000000;
}

.box3{
	margin-top:2rem;
}
